@import './smart-grid';
@import './text';


@include reset();

body {
  background: #F6F6F6;
}

.App {
  width: 100%;
  display: flex;
  @include sm-block() {
    flex-direction: column;
  }

}

.main-box {
  display: flex;
}

.icon {
  &-close {
    @include rem(width, 24px);
    @include rem(height, 24px);
  }
}

.logo {
  @include rem(width, 166px);
  @include rem(height, 40px);
  @include rem(margin-left, 24px);
  @include rem(margin-top, 15px);
  @include rem(margin-bottom, 12px);

}

nav {
  display: flex;
  flex-direction: column;
}

.nav-link {
  @include rem(padding, 16px 24px);
  @include rem(padding-left, 60px);
  background-repeat: no-repeat;
  @include rem(background-size, 24px);
  @include rem(background-position, 24px);
  @include rem(border-left-width, 4px);
  border-left-style: solid;
  border-color: #fff;
  box-sizing: border-box;
  width: 100%;

  &.active {
    background-color: #2CCBCB;
    color: #fff;
    border-left-color: rgba(17, 17, 17, 0.4);
  }

  &-calendar {
    background-image: url("/public/img/sitebar/calendar.png");

    &.active {
      background-image: url("/public/img/sitebar/calendar_active.png");
    }
  }

  &-patients {
    background-image: url("/public/img/sitebar/user.png");

    &.active {
      background-image: url("/public/img/sitebar/user_active.png");
    }
  }

}


.siteBar {
  height: 100vh;
  background-color: #FFFFFF;
  max-height: 100vh;
  overflow: hidden;
  @include rem(width, 256px);

}

.container-main {
  box-sizing: border-box;
  @include rem(padding, 16px 26px);
  width: 100%;

  &-header {
    border-bottom: 1px solid #E0E0E0;
  }

  &-table {
    @include rem(padding-top, 8px);
  }

  &-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_table {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    @include rem(padding, 18px 24px);
  }
}


.ReactModal__Overlay {
  background-color: transparent !important;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    opacity: 0;
  }

  .modalAdd {
    transform: translateX(100%);
    transition: 0.5s;
  }

}

.select {
  @include rem(width, 364px);
  @include rem(height, 56px);
  display: flex;
  flex-direction: column;

  .css-319lph-ValueContainer {
    @include rem(padding, 0 15px);
  }

  & > div {
    flex-grow: 2;
  }

  .input + & {
    @include rem(margin-top, 16px);
  }
}

.input {

  position: relative;

  & + & {
    @include rem(margin-top, 16px);
  }

  .select + & {
    @include rem(margin-top, 16px);
  }

  &_name {
    position: absolute;
    @include rem(left, 16px);
    @include rem(top, 6px);
  }

  &_in {
    @include rem(width, 364px);
    @include rem(height, 56px);
    @include rem(padding, 15px);
    @include rem(padding-top, 32px);
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.32);
    box-sizing: border-box;
    @include rem(border-radius, 8px);
    outline: none;

    &::placeholder {
      color: rgba(17, 17, 17, 0.2);
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include rem(padding-top, 32px);
}

.ReactModal__Overlay--after-open {
  &:before {
    opacity: 1;
  }

  .modalAdd {
    transform: translateX(0px);
  }
}

.ReactModal__Overlay--before-close {
  &:before {
    opacity: 0;
  }

  .modalAdd {
    transform: translateX(100%);
  }
}

.table-main {
  width: 100%;
  @include rem(margin-top, 22px);
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;

  th {
    background: #F2F2F2;
    @include rem(padding, 12px);
  }

  td {
    @include rem(padding, 10px);
  }
}

.activity-indicator {
  width: 100%;
  height: 100%;
  min-height: 50px;
  position: relative;
}
.activity-indicator * {
  box-sizing: border-box
}

.activity-indicator > div {
  left: 50%;
  top: 50%;
  width: auto;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.activity-indicator > div > div {
  transition-duration: 0.4s;
}



.btn {
  background: none;
  outline: 0;
  border: none;
  background-repeat: no-repeat;

  &-close {
    display: flex;
    align-items: center;
  }

  &-cansel {
    margin-left: 1rem;
  }


  &-on {
    @include rem(height, 48px);
    @include rem(width, 241px);
    @include rem(border-radius, 12px);
    background-color: #2CCBCB;
    color: #fff;
  }

  &-add {
    background-color: #2CCBCB;
    border-radius: 8px;
    color: #fff;
    @include rem(padding, 4px 12px);
    @include rem(padding-left, 32px);
    @include rem(background-size, 14px);
    @include rem(background-position, 12px);
    background-image: url("/public/img/btn/entypo_plus.png");

  }
}

main {
  width: 1px;
  flex-grow: 1
}

.main {
  width: 30%;
  overflow: hidden;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  @include sm-block() {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}


.btn {

  &-more {
    background-color: #ccc;
    border: none;
    outline: 0;
    @include rem(padding, 12px 16px);
  }
}
