@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');

$mapSize: (
        main: ((s16:16, s13:13, s12:12, s14:14, s18 :18), "rem", 18),
        780: ((s16:15), "rem", 18),
);


$mainSize: 1920;

@function parseInt($n) {
  /* 2 */
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px: (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values {
    /* 4 */

    @if $value == 0 or $value == auto {
      /* 5 */
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else {
      $unit: unit($value); /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == 'px' {
        /* 7 */
        $px: append($px, $value);
        $rem: append($rem, ($val / 18 + rem));
      }

      @if $unit == 'rem' {
        /* 7 */
        $px: append($px, ($val * 18 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    /* 8 */
    #{$property}: $px; /* 9 */
  } @else {
    #{$property}: $px; /* 9 */
    #{$property}: $rem; /* 9 */
  }
}

html {
  //font-size: 1.250vw;
  font-size: 18px;
  //@include w1420-block() {
  //    font-size: 1.208vw;
  //}
  //@include sm-block() {
  //  font-size: 2.308vw;
  //}
}

.modalAdd {
  background-color: #fff;
  @include rem(width, 412px);
  height: 100vh;
  margin-left: auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09), 0px 8px 24px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.modal_footer {
  padding-top: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E0E0E0;
  @include rem(padding, 16px 24px);
}

.text {
  font-family: Inter;
  line-height: 140%;

  &-bold {
    font-weight: bold;
  }

  &-color1 {
    color: #111111
  }
  &-color83{
    color: #828282;
  }

  &-color05 {
    color: rgba(17, 17, 17, 0.5)
  }

  @each $key, $sizeStap in $mapSize {
    @if ($key=="main") {
      @each $stapSize, $size in nth($sizeStap, 1) {
        &-#{$stapSize} {
          font-size: #{$size/nth($sizeStap, 3)}rem;
        }
      }
    } @else {
      @media screen and (max-width: #{$key}px) {
        @each $stapSize, $size in nth($sizeStap, 1) {
          &-#{$stapSize} {
            font-size: #{$size/nth($sizeStap, 3)}rem;
          }
        }
      }
    }
  }
}



